@import '_meyer-reset';

/*** VARIABLES ***/
$font-stack: 'Open Sans Condensed', sans-serif;
$font-stack-uncondensed: 'Open Sans', sans-serif;

$green-darker: #2d8433;
$green-medium: #3db349;
$green-lighter: #dfecda;

$blue-darker: #0071bc;
$blue-lighter: #8bbee7;

$grey-lighter: #d8d8d8;
$grey-medium: #9f9fa0;
$grey-darker: #6d6e71;

$red-darker: #b91319;
$red-lighter: #fcd3c9;

body {
    font-family: $font-stack-uncondensed;
    font-size: 16px;
    line-height: 1.3em;
}

h1 {
    font-size: 36px;
    line-height: 43px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-family: $font-stack;
    font-size: 24px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

h5 {
    font-size: 11px;
    font-weight: bold;
}

a {
    color: black;
    &:visited {
      color: black;
    }
}

p {
    font-family: $font-stack-uncondensed;
    font-size: 16px;
    line-height: 24px;

    .small {
      font-size: 14px;
      /*
      font-family: $font-stack;
      font-weight: bold;
      */
    }
}

.bignumber {
    font-family: $font-stack-uncondensed;
    font-size: 36px;
    font-weight: bold;
}


a {
    text-decoration: none;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: $grey-lighter;
    height: 50px;
}

#logo {
    float: left;
    display: block;
    padding: 10px 15px 13px;
    height: 28px;
    width: 150px;
    margin-left: 40px;
    background-image: url('/static/logo-landing.png')
}

#logo span {
  display: none;
}

body.home {
  footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
  }
}

body.logged-out {
  .page-content {
    padding-top: 40px;
  }

  .container {
    text-align: left;
    max-width: 680px;
    margin-bottom: 220px;

    .signon {
      text-align: center;
      margin-top: 50px;
    }
  }
}

body.logged-in {
  .page-content {
    margin-left: 140px; /* @todo: unhack */
    p {
      margin-left: auto;
      margin-right: auto;
      max-width: 680px;
    }
  }
}

p#slogan {
  color: $red-darker;
  margin-left: 35px;
  margin-bottom: 40px;
}

a.button {
    background-color: $blue-darker;
    color: white;
    margin-left: 25px;
    margin-top: 5px;
    font-size: 18px;
    line-height: 16px;
    padding: 10px;
    border: 0;
  }

#navigation {
    display: block;
    height: 50px;
    float: left;
    margin-left: 50px;

    li {
      display: block;
      height: 50px;

      vertical-align: middle;
      float: left;
      a {
          display: block;
          height: 50px;

          width: 110px;
          padding: 15px 30px 15px 0px;

          font-size: 16px;
          color: $grey-darker;
          &:hover {
            color: $blue-darker;
          }
      }
    }
}

#user-nav {
  float: left;
  margin-left: 170px;
  padding-top: 6px;

  .username {
    font-weight: bold;
  }
}


footer {
  margin-left: -110px;
  margin-top: 20px;
  background-color: $grey-lighter;
  clear: both;
  padding-bottom: 24px; /* @todo: unmagic */
  .container {
    padding: 12px 18px;
    font-size: 16px;
    color: #6D6E71;
    .copyright {
      float: left;
      a {
        padding: 15px 30px 15px 0px;
        &:hover {
          color: #0071BC;
        }
      }
    }
    .contact {
      float: right;
      span {
        font-weight: bold;
      }
    }
  }
}

/* Search box */

.search-area {
  background-color: $grey-lighter;
  height: 40px;
  width: 220px;
  margin-left: 40px;
  margin-bottom: 30px;
  input {
      height: 26px;
      width: 160px;
      margin-left: 10px;
      padding-left: 20px;
      font-size: 13px;
  }
}

/* Page content */
.page-content {
    padding: 0px 40px;
}

/* Address Page */
#address-data {
    float: left;
    width: 560px;
    padding: 20px 30px;
    background-color: $grey-lighter;
    border-radius: 5px;
    margin-bottom: 20px;
}

#button-row {
  margin: 12px 0;
  height: 60px;
}

#activated-toggle {
  margin: 20px 0;
  line-height: 30px;
  float: left;

  span {
    display: inline-block;

    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    cursor: default;
  }

  .active-text {
    color: $green-darker;
  }

  &.deactivated .active-text {
    color: $grey-darker;
  }

  .not-active-text {
    color: $grey-darker;;
  }

  .toggle {
    width: 55px;
    height: 25px;
    margin: 0 10px;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    background-image: url('/static/toggle-on.png');
  }

  &.deactivated .toggle {
    background-image: url('/static/toggle-off.png');
  }
}

a.map-link {
  display: block;
  color: white;
  background-color: $grey-darker;
  width: 110px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  float: right;
  margin-top: 20px;
}

#business-info {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  padding: 12px 0;

  .business-header {
    font-weight: bold;
  }
}

#action-station {
  float: left;
  width: 280px;
  min-height: 200px;
  margin-left: 20px;
  border-radius: 5px 5px 0 0;

  .actions {
    padding: 20px 0px;
  }

  .action {
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .comment .fa-comment {
    color: $grey-darker;
  }

  .main-user {
    font-weight: bold;
  }

  .action-date {
    color: $grey-darker;
    line-height: 26px;
  }

  .header {
    background-color: $green-medium;
    padding: 10px 33px;
    line-height: 30px;

    h3 {
      color: white;
    }
  }

  .content {
    background-color: $green-lighter;
  }

  .no-action-found {
    padding-right: 10px;
  }

}

.add-comment {
  border: 4px solid $green-lighter;
  padding: 10px 5px;

  .fa-comment {
    color: $green-medium;
    font-size: 12px;
    width: 15px;
    display: block;
    float: left;
  }

  textarea {
    float: left;
    resize: none;
    width: 230px;
    margin-left: 10px;
  }

  button {
    background-color: $green-darker;
    color: white;
    margin-left: 25px;
    margin-top: 5px;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    border: 0;
  }
}


.department-callout {
  background-color: white;
  height: 75px;
  margin-top: 30px;

  .department-explanation {
      float: left;
      padding: 28px 20px;
      margin-right: 20px;
      width: 110px;
  }

  .callout-number {
      float: left;
      padding: 10px 25px 0px;
  }

  .timeframe {
      font-family: $font-stack;
      font-size: 14px;
      font-weight: bolder;
      margin-bottom: 5px;
  }
}

#explore-more {
    margin-top: 20px;
}

.date-range-selector {
    background-color: $grey-darker;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    color: white;
    padding-left: 40px;
    margin: 20px 0;
}

.department-tabs {
    height: 40px;
}

.department-tab {
    width: 80px;
    height: 40px;
    line-height: 40px;
    background-color: #ccc;
    text-align: center;
    float: left;
    cursor: pointer;
    .active {
      background-color: white;
      border-width: 1px 1px 0px;
      border-color: #B3B3B3;
      border-style: solid;
      cursor: default;
    }
}

.department-tab-content {
    border: 1px solid $grey-medium;
    padding: 30px;
    margin-bottom: 20px;
    min-height: 200px;
    h3 {
      margin-left: 10px;
      margin-bottom: 20px;
    }

    &.fire.no-fire-data-access {
      h3 {
        display: none;
      }
      .call-types {
        display: none;
      }
      .no-calls-of-this-type {
        display: none;
      }
    }
}

ol.call-types li {
    line-height: 30px;
    padding-left: 10px;
    .odd {
        background-color: $grey-lighter;
    }
}

.no-calls-of-this-type {
    display: none;
    margin-left: 10px;
}

/* Browse page */

#browse-page {
    background-color: white;
    border-radius: 10px;
    padding: 20px 60px;
}

ul.browse-date-ranges {
    height: 42px;
    margin: 30px 0;
    li {
        background-color: $grey-lighter;
        float: left;
        width: 90px;
        line-height: 40px;

        border: 1px solid $grey-darker;
        border-width: 1px 0 1px 1px;

        text-align: center;

        &.first {
          border-radius: 5px 0 0 5px;
        }
        &.last {
            border-right: 1px solid $grey-darker;
            border-radius: 0 5px 5px 0;
        }
        &.active {
            background-color: white;
        }
        a {
            display: inline-block;
            line-height: 40px;
            padding: 0px 10px;
            color: black;
            font-weight: bold;
            text-align: center;
            &:visited {
              color: black;
            }
        }
    }
}

.browse-results {
    clear: both;
    width: 820px;
    margin: 0 auto;
    thead {
        border-bottom: 2px solid $grey-medium;
    }
    th {
        text-align: left;
        font-weight: bold;
        font-size: 18px;
        .fa {
            width: 18px;
        }
        &.active .fa {
            color: $blue-darker;
        }
    }
    tr {
        line-height: 50px;
        cursor: pointer;
        &.odd {
            background-color: white;
        }
        &.even {
            background-color: #ddd;
        }
    }
    td {
        padding-left: 22px;
    }

    td.address {
      font-weight: bold;
    }

    td.fire-calls, td.police-calls {
      font-family: $font-stack-uncondensed;
      font-size: 18px;
    }
    .explore-link a {
        display: inline-block;
        background-color: $blue-darker;
        color: white;
        line-height: 24px;
        padding: 4px 10px;
    }
}

.pagination {
    margin: 20px 0px;
    text-align: center;
    .active-page {
        height: 30px;
        width: 30px;
        line-height: 30px;
        color: white;
        background-color: $grey-darker;
        display: inline-block;
    }
    a.page {
        height: 30px;
        width: 30px;
        line-height: 30px;
        color: white;
        background-color: $grey-medium;
        display: inline-block;
    }
    a.prev, a.next {
        height: 30px;
        width: 80px;
        line-height: 30px;
        color: white;
        background-color: $grey-darker;
        display: inline-block;
    }
}

/* Audit Logs */
#audit-logs {
    background-color: #d8d8d8;
    border-radius: 10px;
    padding: 20px 60px;

    table {
      tr {
        line-height: 40px;
      }

      td {
        padding: 0px 20px;
      }
    }
}
