/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;  padding: 0; border: 0;  font-size: 100%;    font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {    display: block;}body {  line-height: 1;}ol, ul {    list-style: none;}blockquote, q {   quotes: none;}blockquote:before, blockquote:after,q:before, q:after {   content: '';    content: none;}table {  border-collapse: collapse;  border-spacing: 0;}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 43px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

h5 {
    font-size: 11px;
    font-weight: bold;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

p.small {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.bignumber {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    font-weight: bold;
}


a {
    text-decoration: none;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #d8d8d8;
    height: 50px;
}

#logo {
    float: left;
    display: block;
    padding: 10px 15px 13px;
    color: #6D6E71;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    width: 150px;
    margin-left: 40px;
}

#navigation {
    display: block;
    height: 50px;
    margin-left: 280px;
}

#navigation li {
    display: block;
    height: 50px;
    vertical-align: middle;
    float: left;
}

#navigation li a {
    display: block;
    height: 50px;
    width: 110px;
    padding: 15px 30px 15px 0px;

    font-size: 16px;
    color: #6D6E71;
}

#navigation li a:hover {
    color: #0071BC;
}

/* Search box */ 

.search-area {
    background-color: #d8d8d8;

    height: 40px;
    width: 220px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.search-area input {
    height: 26px;
    width: 160px;
    margin-left: 10px;
    padding-left: 20px;
    font-size: 13px;
}

/* Page content */
.page-content {
    padding: 0px 40px;
}

/* Address Page */
#address-data {
    float: left;
    width: 620px;
}

#action-station {
    float: left;
    width: 280px;
    min-height: 400px;
    margin-left: 20px;
    border: 1px solid #3db349;
}

.week-alert {
    background-color: #fcd3c9;
    height: 32px;
    border-radius: 4px;
    margin: 20px 0;
}

.week-alert .call-count {
    float: left;
    margin-left: 20px;
    padding: 3px 0 0;
}

.week-alert .call-count .bigger-number {
    font-size: 22px;
    font-weight: bold;
}

.week-alert .date-range {
    float: right;
    margin-right: 20px;
    padding: 8px 0 0;
}

.department-callout {
    background-color: #d8d8d8;
    height: 65px;
    margin-top: 30px;
}

.department-callout .department-explanation {
    float: left;
    padding: 20px;
    margin-right: 20px;
    width: 110px;
}

.department-callout .callout-number {
    float: left;
    padding: 10px 40px 0px;
}

.department-callout .timeframe {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: bolder;
}

#explore-more {
    margin-top: 20px;
}

.date-range-selector {
    background-color: #6d6e71;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    color: white;
    padding-left: 40px;
    margin: 20px 0;
}

.department-tabs {
    height: 40px;
}

.department-tab {
    width: 80px;
    height: 40px;
    line-height: 40px;
    background-color: #ccc;
    text-align: center;
    
    float: left;
    cursor: pointer;
}

.department-tab.active {
    background-color: white;
    border-width: 1px 1px 0px;
    border-color: #B3B3B3;
    border-style: solid;
    cursor: default;
}

.department-tab-content {
    border: 1px solid #9f9fa0;
    padding: 30px;
    margin-bottom: 20px;
    min-height: 200px;
}

.department-tab-content h3 {
    margin-left: 10px;
    margin-bottom: 20px;
}

ol.call-types li {
    line-height: 30px;
    padding-left: 10px;
}

.call-types li.odd {
    background-color: #d8d8d8;
}

.no-calls-of-this-type {
    display: none;
    margin-left: 10px;
}
