<!DOCTYPE html>
<html>
    <head>
        <title>Long Beach Utilization Dashboard</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script>
        var map;
        var geocoder;
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var address = "{{address}}" + " Long Beach, CA";
            geocoder.geocode({"address": address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
/*
                    var panoramaOptions = {
                        position: results[0].geometry.location
                    };
                    var myPano = new google.maps.StreetViewPanorama(
                        document.getElementById('streetview-canvas'),
                        panoramaOptions);
                    
                    myPano.setVisible(true);
*/
                    var mapOptions = {
                        zoom: 14,
                        center: results[0].geometry.location
                    }
                    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                    var marker = new google.maps.Marker({
                      map: map,
                      position: results[0].geometry.location
                    });
                }
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </head>
    <body>
        <div class="container">
            <h1>{{address}}</h1>
            {% if common_name: %}
            <h2>Common name: {{ common_name }} </h2>
            {% endif %}
            <div id="map-canvas" style="width: 400px; height: 400px;"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Initial Description</th>
                        <th>Final Description</th>
                        <th>Transport Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for call in calls %}
                    <tr>
                        <td>{{ call[0] }}</td>
                        <td>{{ call[1]}}</td>
                        <td>{{ call[2]}}</td>
                        <td>{{ call[5] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
