{% extends "layout.html" %}

{% block body %}
<div id="address-data">
    <h1 class="address">3360 Magnolia Ave</h1>
    <div id="at-a-glance">
        <p>Type: Residential Care Facility</p>
        <p>Name: Vista Del Mar Senior Center</p>

        <div class="week-alert">
            <div class="call-count"><span class="bigger-number">{{ counts['fire'][7] }}</span> calls this week</div>
            <div class="date-range">June 1st - June 8th 2013</div>
        </div>

        <div class="department-callout">
            <h3 class="department-explanation">Fire Calls</h3>
            <div class="callout-number">
                <div class="timeframe">Last 30 days</div>
                <div class="bignumber">{{ counts['fire'][30] }}</div>
            </div>
            <div class="callout-number">
                <div class="timeframe">Last 90 days</div>
                <div class="bignumber">{{ counts['fire'][90] }}</div>
            </div>
            <div class="callout-number">
                <div class="timeframe">Last 365 days</div>
                <div class="bignumber">{{ counts['fire'][365] }}</div>
            </div>
        </div>
        <div class="department-callout">
            <h3 class="department-explanation">Police Calls</h3>
            <div class="callout-number">
                <div class="timeframe">Last 30 days</div>
                <div class="bignumber">{{ counts['police'][30] }}</div>
            </div>
            <div class="callout-number">
                <div class="timeframe">Last 90 days</div>
                <div class="bignumber">{{ counts['police'][90] }}</div>
            </div>
            <div class="callout-number">
                <div class="timeframe">Last 365 days</div>
                <div class="bignumber">{{ counts['police'][365] }}</div>
            </div>
        </div>
    </div>
    <div id="explore-more">
        <div class="date-range-selector">
            Date Range:
            <select id="data-date-range">
                <option value="365">365 days</option>
                <option value="7">7 days</option>
                <option value="30">30 days</option>
                <option value="90">90 days</option>
            </select>
        </div>
        <div class="department-tabs">
            <div class="department-tab active" id="tab-fire">Fire</div>
            <div class="department-tab" id="tab-police">Police</div>
        </div>
        <div class="department-tab-content active">
            <h3>Top 5 Call Types</h3>
            <ol class="call-types">
                {% for call_type in top_call_types['fire'][365] %}
                <li class="{{ loop.cycle('odd', 'even') }}">{{ loop.index }}. {{ call_type[0]|trim }} - {{ call_type[1] }} calls</li>
                {% endfor %}
            </ol>
            <div class="no-calls-of-this-type">There were no calls of this type during the given timeframe.</div>
        </div>

    </div>
</div>
<div id="action-station">
    Take Action
</div>
<script>
var topCallTypes = {{ top_call_types|tojson|safe }};
</script>
{% endblock %}
