{% extends "layout.html" %}
{% block body %}
<h1>Browse All Addresses</h1>
<ul class="browse-date-ranges">
    <li><a href="{{ url_for('browse', date_range=7, sort_by=sort_by, sort_order=sort_order) }}">7 days</a></li>
    <li><a href="{{ url_for('browse', date_range=30, sort_by=sort_by, sort_order=sort_order) }}">30 days</a></li>
    <li><a href="{{ url_for('browse', date_range=90, sort_by=sort_by, sort_order=sort_order) }}">90 days</a></li>
    <li><a href="{{ url_for('browse', date_range=365, sort_by=sort_by, sort_order=sort_order) }}">365 days</a></li>
</ul>
<table>
    <thead>
        <tr>
            {% set headings = [
                ('address', 'Address'),
                ('biz_type', 'Business License Type'),
                ('fire', 'Fire Calls'),
                ('police', 'Police Calls')
            ] %}

            {% for heading in headings %}
            {% set is_current_heading = (sort_by == heading[0]) %}
            {% set new_sort_order = 'asc' if is_current_heading and sort_order == 'desc' else 'desc' %}
            <th{% if is_current_heading %} class="active"{% endif %}>

                <a href="{{url_for('browse', date_range=date_range, sort_by=heading[0], sort_order=new_sort_order)}}">
                    {{ heading[1] }}
                </a>
            </th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for address in summaries %}
        <tr>
            <td>{{ address.address }}</td>
            <td>{{ address.business_types }}</td>
            <td>{{ address.counts_for_days_ago(date_range)['fire']['last'] }}</td>
            <td>{{ address.counts_for_days_ago(date_range)['police']['last'] }}</td>
            <td><a href="/address/{{ address.address}}">Take a look</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
