{% extends "layout.html" %}
{% block body %}
<h1>Browse All Addresses</h1>
<ul class="browse-date-ranges">
    <li><a href="{{ url_for('browse', date_range=7) }}">7 days</a></li>
    <li><a href="{{ url_for('browse', date_range=30) }}">30 days</a></li>
    <li><a href="{{ url_for('browse', date_range=90) }}">90 days</a></li>
    <li><a href="{{ url_for('browse', date_range=365) }}">365 days</a></li>
</ul>
<table>
    <thead>
        <tr>
            <th>Address</th>
            <th>Business License Type</th>
            <th>Fire Calls</th>
            <th>Police Calls</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for address in summaries %}
        <tr>
            <td>{{ address.address }}</td>
            <td>{{ address.business_types }}</td>
            <td>{{ address.counts_for_days_ago(date_range)['fire']['last'] }}</td>
            <td>{{ address.counts_for_days_ago(date_range)['police']['last'] }}</td>
            <td><a href="/address/{{ address.address}}">Take a look</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
