{% extends "layout.html" %}

{% macro render_pagination(pagination, query) %}
  <div class=pagination>
    {% if pagination.has_prev %}
      <a class="prev" href="{{ url_for('search', q=query, page=pagination.prev_num)}}">Prev</a>
    {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a class="page" href="{{ url_for('search', q=query, page=page) }}">{{ page }}</a>
      {% else %}
        <strong class="active-page">{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <a class="next" href="{{ url_for('search', q=query, page=pagination.next_num) }}">Next</a>
  {% endif %}

  </div>
{% endmacro %}

{% block body %}
<div id="search-page">
    <h1>Search Results</h1>
    {% if summaries.items|length > 0 %}
    <table class="search-results">
        <p>Note: Call counts below are for the last 365 days.</p>
        <thead>
            <tr>
                {% set headings = [
                    ('address', 'Address'),
                    ('biz_type', 'Business License Type'),
                    ('fire', 'Fire Calls'),
                    ('police', 'Police Calls'),
                    ('status', 'Status')
                ] %}

                {% for heading in headings %}
                <th>{{ heading[1] }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for address in summaries.items %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
                <td class="address">{{ address.address | title }}</td>
                <td class="business-type">
                    {% if address.business_count == 0 %}No registered business
                    {% elif address.business_count == 1 %}{{ address.business_types | truncate(25) }}
                    {% elif address.business_count > 1 %}Multiple businesses
                    {% endif %}
                </td>
                <td class="fire-calls">{{ address.counts_for_days_ago(365)['fire']['last'] }}</td>
                <td class="police-calls">{{ address.counts_for_days_ago(365)['police']['last'] }}</td>
                <td class="active-status">{% if address.active == True %}Active{% else %}Not active{% endif %}</td>
                <td class="explore-link"><a href="/address/{{ address.address}}">Take a look</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ render_pagination(summaries, search_query) }}
    {% else %}
    <br />
    <p>There are no results matching "{{ search_query }}". The address may have no Fire or Police incidents. If you think an address has had incidents, but isn't showing, try a more specific address (i.e., "1234 Long Beach Blvd").</p>
    {% endif %}
</div>
{% endblock %}
